<!-- As a link -->
<nav class="navbar navbar-light bg-light">
  <%= link_to "Liking/Disliking Demo", root_path, class: "navbar-brand"  %>
  <% if user_signed_in? %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
  <% else %>
    <%= link_to "Login", new_user_session_path %>
  <% end %>
</nav>