<div class="container">
  <div class="row justify-content-center text-center">
    <div class="col-xs-12 col-sm-6">
      <h1>Like / Dislike Demo </h1>
      <p> <%= link_to "Go to Demo Page", cocktails_path, class: "btn btn-primary" %></p>
      <small>Note: You will need to log in first </small>
    </div>
  </div>
</div>